<!DOCTYPE html>
<html lang="en">
<head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107791629-3"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-107791629-3');
      </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Perfecting Product combines deep customer research and product strategy to solve software product problems and create product-led growth">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700;900&display=swap" rel="stylesheet"> 
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="tailwind-supp-styles.css">
    <link rel="icon" href="Images/Favicon_32.png">
    <title>About Perfecting Product</title>
</head>
<body>

<!-- Vue container -->
<div id="app">

    <!-- top nav -->
    <header class="md:flex md:justify-between md:items-center justify-between mx-auto mt-2 px-8 py-4 text-base items-center sticky top-0 bg-white border-b shadow">
      <div class="flex items-center justify-between">
        <div class="text-xl font-medium">
          <a href="/">
            Perfecting Product
          </a>
        </div>
        
        <!-- responsive dropdown button -->
        <div class="md:hidden">
          <button @click="isOpen = !isOpen" type="button" class="block text-gray-800 focus:outline-none">
            <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
              <path v-if="isOpen" fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
              <path v-if="!isOpen" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
            </svg>
          </button>
        </div>
      </div>
      
      <!-- nav links -->
      <nav :class="isOpen ? 'block' : 'hidden'" class="md:flex mt-6 md:mt-0 gap-4 items-center">
        <a v-for="nav in topNav" :href="nav.url" class="block rounded-sm py-2 px-3 hover:bg-gray-200">{{nav.title}}</a>
        <button class="bg-black text-gray-200 hover:text-white py-2 px-4 rounded hover:bg-gray-800 hover:shadow-lg transition duration-300">
          <a href="https://perfectingproduct.typeform.com/to/ccCS2h">
            Work With Us
          </a>
        </button>
      </nav>
    </header>
    
    <!-- section header -->
    <div class="text-center text-2xl md:text-3xl font-semibold m-8 md:mt-32">About</div>


<p class="max-w-screen-md mx-auto px-4 text-lg whitespace-pre-line tracking-loose">
We know how hard it can be to create software that people will both love and pay for.

After years of working with founders to identify the biggest roadblocks getting in the way of creating sustainable product-led growth, we decided to create a name for what we were doing and the services we were offering.

Simply put, Perfecting Product exists to help do what its name says, perfect software products. But our idea of perfection might need a little more of an introduction.

You see how many people see perfecting a product varies strongly from person to person and stakeholder to stakeholder.
And the way each person measures perfection varies as well.

We've found over years of working with SaaS companies that there are effective ways to measure perfection, or rather we should say, our relative distance from it.

By measuring product dissatisfaction, retention issues such as churn, irregularities in the frequency of product engagement, and lower software product pricing power relative to that of your peers, we identify and prioritize companies biggest product issues.

By collecting evidence for these issues and then validating them through the lens of product strategy and software development focused customer research, interviews, and user testing, we provide a narrowly focused service that avoids the typical problems found when either product strategy or customer research services are delivered alone.

The result is stronger product engagement, reduced churn, improved customer referral rates, increased pricing power, and lower software development costs.

The first principle of our company philosophy:

<span class="font-bold text-gray-900 italic">"If you would like to improve something, first ask how you should measure it"</span>

The first challenge we help software businesses overcome is measurement. We help businesses measure success and failure, so they can prioritize development and do what work is worth doing.</p>

    <!-- CTA button -->
    <div class="mb-24 mt-24 flex justify-center items-center">
        <button class="bg-black text-white py-2 px-4 rounded hover:bg-gray-800 hover:shadow-lg transition duration-300">
          <a href="https://perfectingproduct.typeform.com/to/ccCS2h">
            Work With Us
          </a>
        </button>
      </div>
<!-- Vue container end -->
</div>

<!-- footer -->
<div class="mb-24 mt-24">
    <div class="text-xs text-center mb-2 mx-auto w-56">
      <a href="https://github.com/Christian-von-Uffel/Perfecting-Product/">This website's code is written by hand and open source</a>
    </div>
    <a href="https://github.com/Christian-von-Uffel/Perfecting-Product/"> 
      <img class="w-8 mx-auto" src="Images/GitHub-Mark-64px.png" alt="">
  </div>
  
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  const app = new Vue({
    el: "#app",
    data:{
      isOpen: false,
            topNav:[
              {
                title: "Services",
                url: "https://blog.perfectingproduct.com/services"
              },
              {
                title: "Case Studies",
                url: "https://blog.perfectingproduct.com/tag/case-study/"
              },
              {
                title: "Resources",
                url: "https://blog.perfectingproduct.com/"
              },
              {
                title: "About",
                url: "https://www.perfectingproduct.com/about"
              },
            ],
    }
  })
</script>
</html>
