<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="We combine deep customer research and product strategy to help software companies create product-led growth">
  <meta property="og:image" content="Images/Opengraph-Image-Card.png" />
  <meta property="og:description" content="We combine deep customer research and product strategy to help software companies create product-led growth." />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700;900&display=swap" rel="stylesheet"> 
  <link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="tailwind-supp-styles.css">
  <link rel="icon" href="Images/Favicon_32.png"/>
  <title>Perfecting Product | Customer Research and Product Strategy for SaaS Companies</title>
</head>
<body>

<!-- Vue container -->
<div id="app">
  
  <!-- top nav -->
  <header class="md:flex md:justify-between md:items-center justify-between mx-auto mt-2 px-8 py-4 text-base items-center sticky top-0 bg-white border-b shadow">
    <div class="flex items-center justify-between">
      <div class="text-xl font-medium">
        <a href="/">
          Perfecting Product
        </a>
      </div>
      
      <!-- responsive dropdown button -->
      <div class="md:hidden">
        <button @click="isOpen = !isOpen" type="button" class="block text-gray-800 focus:outline-none">
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
            <path v-if="isOpen" fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
            <path v-if="!isOpen" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
          </svg>
        </button>
      </div>
    </div>
    
    <!-- nav links -->
    <nav :class="isOpen ? 'block' : 'hidden'" class="md:flex mt-6 md:mt-0 gap-4 items-center">
      <a v-for="nav in topNav" :href="nav.url" class="block rounded-sm py-2 px-3 hover:bg-gray-200">{{nav.title}}</a>
      <button class="bg-black text-gray-200 hover:text-white py-2 px-4 rounded hover:bg-gray-800 hover:shadow-lg transition duration-300">
        <a href="https://perfectingproduct.typeform.com/to/ccCS2h">
          Work With Us
        </a>
      </button>
    </nav>
  </header>
  
  <!-- hero section -->
  <div class="max-w-screen-md m-4 mx-auto">
    <div class="my-20 md:my-48 m-6 md:m-12 md:pr-12">
      <div class="font-medium text-2xl md:text-3xl lg:text-4xl mb-8">{{heroSection.problemStatement}}</div>
      <div class="text-xl text-gray-800">{{heroSection.solutionStatement}}</div>
    </div>

    <!-- section header -->
    <div class="text-center text-2xl md:text-3xl font-semibold m-12 mt-36">Our process:</div>

    <!-- process card -->
    <div v-for="process in process" class="rounded-md shadow-lg border border-gray-300 m-4 mb-12 overflow-hidden sm:flex">
        <div class="p-4 md:p-8 sm:w-3/5">
          <div class="text-xl sm:text-2xl tracking-wide font-semibold mb-2">{{process.stage}}</div>
          <div class="text-base text-gray-700">{{process.description}}</div>
        </div>
        <div class="sm:w-2/5" :class="process.backgroundColor">
          <img :src="process.image" :alt="process.stage" class="mx-auto h-64 object-contain p-8 pointer-events-none">
        </div>
      </div>

    <!-- section header -->
    <div class="text-center text-2xl md:text-3xl font-semibold m-12 mt-36">Who you'll be working with:</div>

    <!-- image card -->
    <div class="rounded-md shadow-lg border border-gray-200 text-base flex flex-col md:flex-row items-center gap-6 md:gap-20 px-12 py-8 m-4">
        <div class="text-center font-medium">
          <img class="rounded-full w-36 shadow-lg mb-2 mx-auto pointer-events-none" src="Images/Christian-von-Uffel-Square-Two-Sigma-Headshot.png" alt="Christian von Uffel">
          <div class="text-lg">Christian von Uffel</div>
          <div class="text-gray-800">Product Leader, Perfecting Product</div>
        </div>
        <ol class="text-gray-800 text-base font-medium mt-2 md:m-6 px-4 sm:p-0 leading-loose list-disc">
            <li>launched two 6-figure award-winning products</li>
            <li>SaaS product & marketing mentor for 5+ years</li>
            <li>performed 250+ user interviews</li>
            <li>performed 500+ user tests</li>
        </ol>
      </div>

    <!-- section header -->
    <div class="text-center text-2xl md:text-3xl font-semibold m-12 mt-36">Testimonials</div>

    <!-- testimonial card -->
    <div v-for="testimonial in testimonials" class="p-6 m-4 mb-16 shadow-lg border border-gray-200 rounded-md sm:grid grid-cols-3 items-center gap-12 py-8 md:px-12">
      <div class="col-span-2 text-lg md:text-xl mb-8 sm:mb-0">
        "{{testimonial.content}}"
      </div>
      <div class="text-center font-medium">
        <div class="rounded-full shadow w-36 overflow-hidden mx-auto mb-2 pointer-events-none">
            <img :src="testimonial.imageSource" alt="testimonial.name">
        </div>
        <div>{{testimonial.name}}</div>
        <div>{{testimonial.title}}, {{testimonial.company}}</div>
      </div>
    </div>
    
    <!-- section header -->
    <div class="text-center text-2xl md:text-3xl font-semibold m-12 mt-36">Press</div>

    <!-- section subheader -->
    <div class="text-center m-4 text-lg">
      UserInterviews.com interviewed and featured us:
    </div>

    <!-- link card -->
    <a v-for="press in press" :href="press.url" class="rounded-md shadow-lg border border-gray-300 m-4 mb-32 cursor-pointer overflow-hidden grid grid-cols-1 sm:grid-cols-5 items-center hover:shadow-xl transition duration-150 hover:border-gray-400">
      <div class="col-span-1 sm:col-span-3 p-4 sm:p-8 md:px-6">
        <div class="text-xl font-semibold mb-4">{{press.title}}</div>
        <div class="text-base text-gray-700">{{press.description}}</div>
      </div>
      <img class="col-span-1 sm:col-span-2 h-64 object-cover pointer-events-none" :src="press.imageSource" :alt="press.title">
    </a>
    
    <!-- CTA button -->
    <div class="mb-24 mt-24 flex justify-center items-center">
      <button class="bg-black text-gray-200 hover:text-white py-2 px-4 rounded hover:bg-gray-800 hover:shadow-lg transition duration-150">
        <a href="https://perfectingproduct.typeform.com/to/ccCS2h">
          Work With Us
        </a>
      </button>
    </div>

    <!-- footer -->
    <div class="mb-24 mt-24">
      <div class="text-xs text-center mb-2 mx-auto w-56">
        <a href="https://github.com/Christian-von-Uffel/Perfecting-Product/">This website's code is written by hand and open source</a>
      </div>
      <a href="https://github.com/Christian-von-Uffel/Perfecting-Product/"> 
        <img class="w-8 mx-auto pointer-events-none" src="Images/GitHub-Mark-64px.png" alt="">
    </div>
    
  </div>

<!-- Vue container end -->
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    const app = new Vue({
        el: "#app",
        data:{
            isOpen: false,
            topNav:[
              {
                title: "Services",
                url: "https://blog.perfectingproduct.com/services"
              },
              {
                title: "Case Studies",
                url: "https://blog.perfectingproduct.com/tag/case-study/"
              },
              {
                title: "Resources",
                url: "https://blog.perfectingproduct.com/"
              },
              {
                title: "About",
                url: "https://www.perfectingproduct.com/about"
              },
            ],
            heroSection:{
              problemStatement: "Fed up with having little to no product-led growth?",
              solutionStatement: "Identify the roadblocks standing in your way with deep customer research, user interviews and testing."
            },
            process: [
                {
                    stage: "Customer Research",
                    description: "We interview your customers and the people on your team who interact with them most to uncover users painpoints, motivations, and how they intersect with your business and product.",
                    pattern: "topography",
                    backgroundColor: "bg-blue-400",
                    image: "Images/interview-group.png",
                  },
                  {
                    stage: "User Testing",
                    description: "We test your product and create full product teardowns with annotations for your product and your competitors, qualify user testing participants, manage user testing for your product & prototypes, and the analyze results.",
                    pattern: "tictactoe",
                    backgroundColor: "bg-red-400",
                    image: "Images/full-product-teardowns.png",
                  },
                  {
                    stage: "Product Strategy",
                    description: "We use our customer research to solve your problems with product engagement, retention and monetization by identifying key points of user friction, existing and unsolved problems, and compelling new product features.",
                    pattern: "temple",
                    image: "Images/product-market-fit.png",
                    backgroundColor: "bg-green-400",
                },
            ],
            testimonials: [
                {
                name: "Alex Krupp",
                company: "FWD:Everyone",
                title: "Founder",
                content: "Christian helped us with user testing; he immediately identified a bunch of problems with our product and onboarding flow, and came up with pragmatic and easy-to-implement ways to improve our funnel.",
                imageSource: "Images/Alex-Krupp.jpeg",
                },
                {
                name: "Mark Fershteyn",
                company: "Recapped",
                title: "Founder",
                content: "Christian has a rare ability to quickly identify problems in customer experience and product. He immediately identified problems in our product’s onboarding process that we needed to solve, the next steps to fix them, and exactly how to measure the result of these changes.",
                imageSource: "Images/Mark_Fershteyn-Recapped.jpeg",
                },
            ],
            press: [
                {
                title: "How to Use Prototype Testing to Create Emotionally Satisfying User Experiences",
                url: "https://www.userinterviews.com/blog/prototype-testing-process",
                description: "Customer research and user testing is harder than it seems. Learn some of the most important things to watch out for.",
                imageSource: "Images/User-Interviews-Article-Preview-Image-Prototype-Testing-Process.png",
                },
            ],
        }
    })
</script>
</html>