body {
    font-family: 'Source Code Pro', monospace;
  }
h1 {
  font-size: 27px;
  line-height: 1.5em;
}
h2 {
  font-size: 18px;
  padding-left: 24px;
}
nav {
  float:right;
  padding-right: 24px;
}
a {
  text-decoration:none;
  color:black;
  padding-right: 18px;
}
a:hover {
  text-decoration: underline;
}
p {
  padding-left: 96px;
  padding-right: 96px;
  max-width: 720px;
  line-height: 1.5em;
  font-size: 18px;
  margin:auto;
  white-space: pre-line;
}
#tagline {
  text-align: center;
  padding-top: 210px;
  padding-bottom: 128px;
  background-image: url('Images/highlight-marking.png');
  background-repeat: no-repeat;
  background-position: calc(50% - 30px) 254px;
  max-width: 500px;
  margin:auto;\
}
#page-title {
  text-align: center;
  padding-top: 180px;
}
#footer {
  font-size: 16px;
  text-align: center;
  margin: auto;
  max-width: 250px;
  padding-top: 180px;
}
@media screen and (max-width: 414px) {
  #tagline {
    text-align: center;
    padding-top: 120px;
  }
  p {
    padding-right: 16px;
    padding-left: 16px;
    line-height: 1.5em;
    font-size: 18px;
    margin: auto;
    white-space: pre-line;
  }
  #page-title {
    text-align: center;
    padding-top: 60px;
  }
